.form {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: auto;
  position: relative;
  & > * {
    margin-top: 10px;
    font-size: 1.2rem;

    & > * {
      display: flex;
      flex-direction: column;
      width: 100%;
      font-size: 1.2rem;
    }
  }
}
