%one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%light{
  background-color: white;
  color: #222;
}

%dark{
  background-color: #222;
  color: white;
}