.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 70%;
  max-width: 400px;
  margin: auto;
  padding: 30px 0;

  background-color: teal;
  color: wheat;

  text-align: center;
}

.controlBtn {
  display: flex;
  justify-content: space-around;
}

.btn {
  padding: 0.5em 1.5em;
  border: none;
  background-color: wheat;
  color: teal;
}
